<div class="card text-white bg-dark ">
  <div class="card-body">
    <small class="text-muted"> <%= l post.created_at, format: :sho %></small>
    <p class="card-text"><%= post.body %></p>
  </div>
</div>
<br>     