<h5 class="card-header">
  <%= link_to image_tag(user.avatar, class:"ui-w-100-forced rounded-circle mr-3 ", style:"width: 90px; height: 90px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0);"), user == current_user ? user_profile_path : profile_path(user.name) %>
  <%= link_to user.name, user == current_user ? user_profile_path : profile_path(user.name) , style:"color: black" %>
  <br><br>
  <span style="font-size:14px;">Seguidores:</span> <span style="font-size:16px;" class="badge badge-info mr-3"><%= user.followers.count %></span>
  <span style="font-size:14px;">Seguindo:</span> <span style="font-size:16px;" class="badge badge-info"><%= user.following.count %></span>
</h5>